#body
{
}
#full_page
{
height:858px;
width:1200px;
box-shadow: 4px 4px 5px;
}
#banner
{
height:100px;
width:1200px;
}
#banner1
{
height:100px;
width:1050px;
background:Black;
}
#banner2
{
height:100px;
width:150px;
background:Black;
}
#banner2 img{
height:100px;
width:150px;
-webkit-transition:all 0.5s ease;
transition:all 0.5s ease;

}

#banner2 img:hover{
border:0px groover;
-webkit-transform:translate(0px,-10px);
transform:translate(0,-10px);

-webkit-box-show:0px 10px 5px rgba(0,0,0,0.50);
-moz-box-shadow:0px 10px 5px rgba(0,0,0,0.50);
box-shadow::0px 10px 5px rgba(0,0,0,0.50);
}
#menu
{
height:46px;
width:1200px;
}
#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#menu li {
  float: left;
}

#menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

#menu li a:hover {
  color: white;
  background-color: #3498db;
  text-decoration: none;
  transition:1.9s all;
}
#extra
{
height:2px;
width:1200px;
}
#mar
{
height: 60px;
width: 1200px;
}
#bodyfull
{
height:650px;
width:1200px;
background-image:url("b.jpg");
}
#list
{
height:650px;
width:100px;
background-image:url("gh.jpg");
}
#list a{
color: white;
text-decoration: none;
}
#bodymain
{
height:650px;
width:1100px;
}
#bodymain p{
text-shadow: 4px 4px 5px grey;
}
#bodymain h1{
text-shadow: 5px 5px 5px blue;
}
#bodymain p:hover
{
color: blue;
font-size:18;
text-shadow: 4px 4px 5px grey;
}

#bodymain h1:hover
{
color: blue;
font-size:39;
text-shadow: 4px 4px 5px black;
}
#body1
{
height:526px;
width:1100px;
}
#body1 p:hover
{
color: blue;
font-size:18;

}
#body1 h1:hover
{
color: blue;
font-size:36;

}
#body_up
{
height:300px;
width:1100px;
}
#body_down
{
height:150px;
width:1100px;
}
#body2
{
height:120px;
width:1100px;
}
#bodyextra
{
height:4px;
width:1100px;
}
#emptyspace
{
height:120px;
width:30px;
}

#image
{
height:120px;
width:120px;
}
#image img{
-webkit-transition:all 0.5s ease;
transition:all 0.5s ease;
border:1px grove;
}

#image img:hover{
border:0.4px groov;
-webkit-transform:translate(0px,-10px);
transform:translate(0,-10px);

-webkit-box-show:0px 10px 5px rgba(0,0,0,0.50);
-moz-box-shadow:0px 10px 5px rgba(0,0,0,0.50);
box-shadow::0px 10px 5px rgba(0,0,0,0.50);
}
#faqspace
{
height:120px;
width:50px;
}
#footer
{
height:60px;
width:1200px;
background-image:url("c.jpg");
}
#footer a{
 display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  box-shadow: 4px 4px 5px;
}
#footer a:hover {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  transition:1.9s all;
}
#footer p{
text-shadow: 1.9px 1.9px 5px;
}
.container{
 text-align: center;
 margin-top: 0px;
}
.btn{
 border: 1px solid #3498db;
 background: none;
 padding: 10px 10px;
 font-size: 16px;
 font-family: "montserrat";
 cursor: pointer;
 margin: 10px;
 transition: 0.8s;
 position: relative;
 overflow: hidden;
}
.btn1,.btn2{
 color: #3498db;
}
.btn3,.btn4{
 color: #fff;
}
.btn1:hover,.btn2:hover{
 color: #fff;
}
.btn3:hover,.btn4:hover{
 color: black;
}
.btn::before{
content: "";
position: absolute;
left: 0;
width: 100%;
height: 0%;
background: #3498db;
z-index: -1;
transition: 0.8s;
}
.btn1::before,.btn3::before{
top: 0px;
border-radius: 0 0 50% 50%;
}
.btn2::before,.btn4::before{
bottom: 0px;
border-radius: 50% 50% 0 0 ;
}
.btn3::before,.btn4::before{
height: 180%;
}
.btn1:hover::before,.btn2:hover::before{
height: 180%;
}
.btn3:hover::before,.btn4:hover::before{
height: 0%;
}

